body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: auto;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

#nothing {
    font-size: 72px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    height: 100%;
    width: 100%;
}

.col {
    padding: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;
    border: 0;
}

.list-group {
    display: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

p {
    text-align: justify;
}